{% extends "main/_base.html" %}

{% block title %}Recipes - {{ recipe_obj.recipe_name }}{% endblock %}

{% block content %}

<h3>{{ recipe_obj.recipe_name }}</h3>

{% if error is False %}
    {% if recipe_obj.ingredients %}
        {% include "main/_nutrition_facts_table.html" %}
    {% else %}
        <p>No nutrition facts yet</p>
    {% endif %}

    {% if recipe_obj.ingredients %}
        <h4>Ingredients</h4>

        <table class="ingredients">
            <tr>
                <th class="ingredients">Ingredient</th>
                <th class="ingredients">Serving Size</th>
                <th class="ingredients"># of Servings</th>
            </tr>
            {% for ingredient in recipe_obj.ingredients %}
                <tr>
                    <td><a href="/foods/{{ ingredient.food.fdc_id }}/">{{ ingredient.food.food_name }}</a></td>
                    <td>{{ ingredient.food.serving_size }}{{ ingredient.food.serving_units }}</td>
                    <td>{{ ingredient.servings_number }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No ingredients yet</p>
    {% endif %}

    {% include "recipes/_recipes_builder_search_header.html" %}

    {% if recipe_obj.ingredients %}
        <h4>Finish Recipe</h4>
        <form action="/recipes/builder/{{ recipe_obj.mongodb_id }}/finish/" method="GET">
            <input class="larger" name="button" type="submit" value="Finish"/>
        </form>
    {% endif %}

    <h4>Delete Recipe</h4>
    <form action="/recipes/builder/{{ recipe_obj.mongodb_id }}/delete/" method="GET">
        <input class="larger" name="button" type="submit" value="Delete"/>
    </form>
{% endif %}

{% if message %}<p><b>{{ message }}</b></p>{% endif %}

{% endblock %}
