{% extends "main/_base.html" %}

{% block title %}Recipe Builder - Recipes in-Progress{% endblock %}

{% block content %}

{% if message %}<p><b>{{ message }}</b></p>{% endif %}

{% for recipe_obj in recipe_objs %}
    <p>
    <b><a href="/recipes/builder/{{ recipe_obj.mongodb_id }}/">{{ recipe_obj.recipe_name }}</a></b><br/>
    {% if recipe_obj.ingredients %}
    Calories: {{ recipe_obj.energy_kcal.amount|floatformat }}
    {% endif %}
    </p>
{% endfor %}

<p><a href="/recipes/builder/new/">Create a new recipe</a></p>

{% if more_than_one_page %}{% autoescape off %}{{ pagination_links }}{% endautoescape %}{% endif %}

{% endblock %}
