{% extends "_base.html" %}

{% block title %}Food - {{ food_obj.food_name }} - from FoodData Central data{% endblock %}

{% block content %}

<div>

<h3>{{ food_obj.food_name }} - from FoodData Central data</h3>

{% include "_nutrition_facts_table.html" %}

{% if food_obj.in_db_already is False %}
<form action="/foods/fdc_import/" method="GET">
    <input class="larger hastopmargin" type="submit" value="Import" />
    <input type="hidden" name="fdc_id" value="{{ food_obj.fdc_id }}"/>
</form>
{% else %}
<p>In the local database at <a href="/foods/{{ food_obj.fdc_id }}/">{{ food_obj.food_name }}</a>.</p>
{% endif %}

</div>

{% endblock %}
