{% extends "main/_base.html" %}

{% block title %}User Profile{% endblock %}

{% block content %}

<p><b>Welcome back, {{ account_model_obj.display_name }}.</b></p>

{% if message %}<p><b>{{ message }}</b></p>{% endif %}

{% if error is False %}
    <table style="width: 50%;">
        <tr>
            <th class="leftaligned">Height</th>
            <th class="leftaligned">Weight</th>
            <th class="leftaligned">Activity Level</th>
            <th class="leftaligned">Weight Goal</th>
        </tr>
        <tr>
            <td>{{ height_feet }}&#8242;{{ height_inches }}&#8243;</td>
            <td>{{ weight }}</td>
            <td>{{ activity_level }}</td>
            <td>{{ weight_goal }}</td>
        </tr>
        <tr>
            <th class="leftaligned" colspan="2">Body-Mass Index</th>
            <th class="leftaligned" colspan="2">Active Metabolic Rate</th>
        </tr>
        <tr>
            <td colspan="2">{{ body_mass_index }} ({{ bmi_reading }})</td>
            <td colspan="2">{{ active_metabolic_rate }} Calories</td>
        </tr>
    </table>
    <p>Your active metabolic rate is the number of Calories you burn at your activity level; you must consume that many Calories to maintain your weight. If you wish to lose weight, you need to eat less than that amount, and if you wish to gain weight you need to eat more than that amount.</p>
{% endif %}

{% endblock %}
