{% extends "main/_base.html" %}

{% block title %}Users - Change Password{% endblock %}

{% block content %}

<h3>Change Password</h3>

{% if message %}<p><b>{{ message }}</b></p>{% endif %}

<form action="/users/{{ username }}/change_password/" method="POST">
    {% csrf_token %}

    <table style="width: 70%">
        <tr>
            <th class="leftaligned">Current Password:</th>
            <td><input class="larger" type="password" name="current_password" size="32"/></td>
        </tr>
        <tr>
            <th class="leftaligned">New Password:</th>
            <td><input class="larger" type="password" name="new_password_initial" size="32"/></td>
        </tr>
        <tr>
            <th class="leftaligned">New Password (again, to confirm):</th>
            <td><input class="larger" type="password" name="new_password_confirm" size="32"/></td>
        </tr>
    </table>

    <input class="larger hastopmargin" type="submit" name="button" value="Change Password"/>
</form>

{% endblock %}
