{% extends "main/_base.html" %}

{% block title %}User Profile{% endblock %}

{% block content %}

<h3>Editing Profile Information</h3>

{% if message %}<p><b>{{ message }}</b></p>{% endif %}

{% if error is False %}
    <form action="/users/{{ username }}/edit_profile/" method="POST">
        {% csrf_token %}

        <table style="width: 70%">
        {% include "users/_profile_form_table_content.html" %}
        </table>

        <input class="larger hastopmargin" type="submit" name="button" value="Update Profile"/>
    </form>
{% endif %}

{% endblock %}
